.editorWrapper {
  min-width: 700px;
  width: 700px;
  display: flex;
  height: fit-content;
  flex-direction: column;
  margin-top: 3em;
  border: 2px #134CD8 solid;
  padding: 1rem;
  border-radius: 4px
}

.editorContainer {
  display: flex;
  min-height: 9em;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  padding: 5px;
  font-size: 17px;
  font-weight: 300;
}